.new-item {
    display: flex;
    padding: 20px 50px;
    .id {
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        font-size: 20px;
        font-weight: bold;
    }
    .img {
        width:400px ;
        height: auto;
        background-color: #fff;
        img{
            width: 100%;
        }
    }
    .content {
        width: 100% ;
        padding: 5px 5px 5px 30px;
        .title {
            font-size: 22px;
            font-weight: bold;
        }
        .by {
            color: #666;
            padding: 10px 0 20px 0;
            font-weight: bold;
            .by-name {
                color: rgb(161, 5, 31);
                font-weight:500 ;
            }
        }
        .description {
            color: #666;
        }
    }
}